# General
.env
.envrc
*~

# Build artifacts
bin/
target/
*.jar
*.zip
*.war

# Downloaded JRE and packaging staging directory (re-created by make download-jre / make package)
workshop/04-build/java/hello-extension/install/

# Java
*.class
*.log
.classpath
.project
.settings/
.idea/
*.iml

# Node (if any tooling added)
node_modules/
dist/

# macOS
.DS_Store

# Editor
.vscode/
